[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pandas = "*"
boto3 = "*"
pyarrow = "*"
pyyaml = "*"

[dev-packages]
awscli = "*"
jupyter = "*"
pylint = "*"
moto = "*"
coverage = "*"
memory-profiler = "*"
matplotlib = "*"
ipykernel = ">=6.29.5"

[requires]
python_version = "3.9"
